<% include ./header.ejs %>
<div id="customer">
    <div class="container">
        <h2 class="text-center m-3">مشتری</h2>
        <div class="row justify-content-center">
            <div class="my_col">
                <div class="card bg-success" style="width: 30rem;">
                    <div class="card-body text-center">
                        <form method="POST" action="/customer/">
                            <div class="form-group text-white">
                                <label for="menu-item-name">افزودن مشتری جدید</label>
                                <input type="text" class="form-control mb-2" name="f_name" placeholder="نام">
                                <input type="text" class="form-control mb-2" name="l_name" placeholder="نام خانوادگی">
                                <input type="number" class="form-control mb-2" name="age" placeholder="سن">
                                <input type="text" class="form-control mb-2" name="mobile_phone"
                                    placeholder="شماره همراه">
                                <input type="text" class="form-control mb-2" name="code" placeholder="کد ملی">
                                <select name="favorite" class="form-control my-2">
                                    <% for(item in menuItems) { %>
                                    <option value="<%=menuItems[item]['name']%>"><%=menuItems[item]['name']%></option>
                                    <% } %>
                                </select>
                                <input type="submit" class="float-right btn btn-warning mx-3 mt-3" value="افزودن">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <% for(var i=0; i<customers.length; i++) { %>
            <div class="my_col">
                <div class="card bg-white" border="1" style="width: 15rem;">
                    <div class="card-body text-center">
                        <form method="POST" action="/customer/<%=customers[i].code%>?_method=PUT">
                            <input type="text" class="form-control mb-2" placeholder="نام" name="f_name"
                                value="<%=customers[i].f_name%>">
                            <input type="text" class="form-control mb-2" placeholder="نام خانوادگی" name="l_name"
                                value="<%=customers[i].l_name%>">
                            <input type="number" class="form-control mb-2" placeholder="سن" name="age"
                                value="<%=customers[i].age%>">
                            <input type="text" class="form-control mb-2" placeholder="شماره همراه" name="mobile_phone"
                                value="<%=customers[i].mobile_phone%>">
                            <input type="text" class="form-control mb-2" placeholder="کد ملی" name="code"
                                value="<%=customers[i].code%>">
                            <input type="text" class="form-control mb-2" value="<%=customers[i].favorite%>" disabled>
                            <input type="submit" class="float-right btn btn-warning w-100 my-2" value="تغییر">
                        </form>
                        <form method="POST" action="/customer/<%=customers[i].code%>?_method=DELETE">
                            <button class="btn btn-info w-100">حذف</button>
                        </form>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<div id="spacer" style="height: 100px;background-color: gray;"></div>
<div id="address">
    <div class="container">
        <h2 class="text-center m-3">آدرس</h2>
        <div class="row justify-content-center">
            <div class="my_col">
                <div class="card bg-success" style="width: 30rem;">
                    <div class="card-body text-center">
                        <form method="POST" action="/customer/address">
                            <div class="form-group text-white">
                                <label for="menu-item-name">افزودن آدرس جدید</label>
                                <br>
                                <select name="customer" class="w-100 my-2">
                                    <% for(var i=0; i<customers.length; i++) { %>
                                    <option value="<%=customers[i].code%>"><%=customers[i].f_name%>
                                        <%=customers[i].l_name%></option>
                                    <% } %>
                                </select>
                                <input type="text" class="form-control mb-2" name="content" placeholder="آدرس">
                                <input type="text" class="form-control mb-2" name="home_phone" placeholder="تلفن ثابت">
                                <input type="submit" class="float-right btn btn-warning mx-3 mt-3" value="افزودن">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>