<% include ./header.ejs %> 
    <div id="delivery">
        <div class="container">
            <h2 class="text-center m-3">پیک</h2>
            <div class="row justify-content-center">
                <div class="my_col">
                    <div class="card bg-success" style="width: 30rem;">
                        <div class="card-body text-center">
                            <form method="POST" action="/delivery">
                                <div class="form-group text-white">
                                    <label for="menu-item-name">افزودن پیک</label>
                                    <input type="text" class="form-control mb-2" name="f_name" placeholder="نام">
                                    <input type="text" class="form-control mb-2" name="l_name"
                                        placeholder="نام خانوادگی">
                                    <input type="text" class="form-control mb-2" name="mobile_phone"
                                        placeholder="شماره همراه">
                                    <input type="text" class="form-control mb-2" name="code" placeholder="کد ملی">
                                    <input type="submit" class="float-right btn btn-warning mx-3 mt-3" value="افزودن">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <% for(var i=0; i<deliveries.length; i++) { %>
                <div class="my_col">
                    <div class="card bg-white" border="1" style="width: 15rem;">
                        <div class="card-body text-center">
                            <form method="POST" action="/delivery/<%=deliveries[i].code%>?_method=PUT">
                                <input type="text" class="form-control mb-2" name="f_name" placeholder="نام"
                                    value="<%=deliveries[i].f_name%>">
                                <input type="text" class="form-control mb-2" name="l_name" placeholder="نام خانوادگی"
                                    value="<%=deliveries[i].l_name%>">
                                <input type="text" class="form-control mb-2" name="mobile_phone"
                                    value="<%=deliveries[i].mobile_phone%>" placeholder="شماره همراه">
                                <input type="text" class="form-control mb-2" name="code" placeholder="کد ملی" value="<%=deliveries[i].code%>">
                                <input type="submit" class="float-right btn btn-warning w-100 my-2" value="تغییر">
                            </form>
                            <form method="POST" action="/delivery/<%=deliveries[i].code%>?_method=DELETE">
                                <button class="btn btn-info w-100">حذف</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>